.info-section {
    position: relative;
    padding: var(--space-16) var(--space-8);
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.info-section--dark {
    background: linear-gradient(to bottom,
            #17171700 0%,
            #171717 10%,
            #171717 90%,
            #17171700 100%)
}

.info-bg-overlay {
    position: absolute;
    top: 0;
    right: 0;
    width: 60%;
    height: 100%;
    opacity: 0.15;
    pointer-events: none;
}

.info-container {
    position: relative;
    z-index: 2;
    max-width: 1200px;
    width: 100%;
    margin: var(--space-16) 0;
}

.info-container--card {
    background: linear-gradient(145deg, #f5f5f5 0%, #e8e8e8 100%);
    border-radius: 24px;
    padding: var(--space-16);
    box-shadow: 0 20px 60px rgba(0, 0, 0, 0.3);
}

.info-header {
    margin-bottom: var(--space-10);
}

.info-container--card .info-header {
    text-align: center;
}

.info-badge {
    display: inline-block;
    font-size: var(--text-3xl);
    font-weight: var(--font-medium);
    color: var(--text-primary);
    margin-bottom: var(--space-4);
}

.info-container--card .info-badge {
    color: #333;
}

.info-heading {
    font-size: clamp(1.5rem, 4vw, 2.25rem);
    font-weight: var(--font-regular);
    line-height: var(--leading-snug);
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.78) 0%, rgba(146, 146, 146, 0.5) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    max-width: 800px;
}

.info-container--card .info-heading {
    background: linear-gradient(135deg, rgba(17, 17, 17, 0.78) 0%, rgba(83, 83, 83, 0.62) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    max-width: 100%;
}

.info-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--space-4);
}

.info-card {
    position: relative;
    border-radius: 16px;
    overflow: hidden;
}


.info-card-img {
    width: 100%;
    height: auto;
}

.info-card--dark .info-card-title {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}


@media (max-width: 1024px) {
    .info-cards {
        grid-template-columns: repeat(2, 1fr);
    }

    .info-cards>.info-card:last-child:nth-child(odd) {
        grid-column: 1 / -1;
        max-width: 50%;
        margin: 0 auto;
    }
}

@media (max-width: 768px) {
    .info-section {
        padding: var(--space-8) var(--space-4);
    }

    .info-container--card {
        padding: var(--space-8);
        border-radius: 20px;
    }

    .info-cards {
        grid-template-columns: 1fr;
    }

    .info-cards>.info-card:last-child:nth-child(odd) {
        max-width: 100%;
    }

    .info-bg-overlay {
        width: 100%;
        opacity: 0.1;
    }

    .info-card-img {
        padding: var(--space-2) var(--space-16);
        width: 100vw;
        height: auto;
    }
}